.sidebar__tweet {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: #fff !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    height: 50px !important;
    border-radius: 30px !important;
    margin-top: 20px !important;
}